venv
*.xls
inputs
*.docx
.vscode
*.db
__pycache__
setup.cfg
*.txt
!requirements.txt
!Log_file.txt
*.cmd
*.png
*csv
output.html
Inputs Yuval
Inputs_testing
*.db-journal
ofeks_inputs
Backup
Verified_Inputs
venv_pc
inputs01
laptop_venv
Category_output.html
Formats.py
*.xlsx
output.html
source/Configurations/Formats.py
browser_profiles/
Outputs/download_log.log
migration_script.py.log
.env
!.env.example
